body {
  background: black;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
}

@keyframes flicker {
  0% {
    transform: rotate(-1);
  }
  0% {
    transform: rotate(-1deg);
  }
  0% {
    transform: rotate(-1deg);
  }
  0% {
    transform: rotate(-1deg);
  }
  0% {
    transform: rotate(-1deg);
  }
  0% {
    transform: rotate(-1deg);
  }
}
